In [ ]:
# ! pip install eikon
# ! pip install httpx==0.19.0
# ek.__version__
# ! python --version
# ! pip install --upgrade eikon

In [1]:
import eikon as ek

In [2]:
ek.set_app_key("6ea4ece4e1f24e5bb11c798e8f838b89f4ad08ef")

In [3]:
df, err = ek.get_data(
    instruments = ['TSLA.O','MSFT.O', 'FB.O', "PSN.L"], 
    fields = ['BID','ASK']
)
display(df)

  Instrument      BID      ASK
0     GOOG.O  2983.18  3002.65
1     MSFT.O   336.66    336.9
2       FB.O    348.2    348.3
3      PSN.L   2669.0   2671.0

In [11]:
ek.get_timeseries('AAPL.O', interval='minute')

Update received for EUR=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 1.1359, 'ASK': 1.136}
Update received for JPY=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 114.19, 'ASK': 114.21}
Update received for GBP=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 1.3462, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 1.3462, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 1.3462, 'ASK': 1.3463}
Update received for JPY=: {'DSPLY_NAME': 'BANCA AKROS  MIL', 'BID': 114.18, 'ASK': 114.22}
Update received for EUR=: {'DSPLY_NAME': 'EQUA BANK    PRG', 'BID': 1.1359, 'ASK': 1.1362}

AAPL.O                 HIGH     LOW     OPEN    CLOSE  COUNT  VOLUME
Date
2021-09-01 20:02:00  152.52   152.5   152.52  152.505     89  340900
2021-09-01 20:03:00  152.51  152.48  152.505  152.495    112  293189
2021-09-01 20:04:00  152.51  152.49  152.495    152.5     61    4512
2021-09-01 20:05:00  152.55  152.49    152.5  152.525     39  346727
2021-09-01 20:06:00  152.57  152.51   152.51   152.55     50   21415
...                     ...     ...      ...      ...    ...     ...
2021-11-16 09:44:00  149.71  149.69   149.69   149.69      9     240
2021-11-16 09:45:00   149.7  149.69   149.69   149.69     15     421
2021-11-16 09:46:00  149.71  149.69   149.69    149.7     11     166
2021-11-16 09:47:00  149.71   149.7   149.71   149.71      6      47
2021-11-16 09:48:00  149.71   149.6   149.71   149.61     64    1214

[50000 rows x 6 columns]

Update received for EUR=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.1359, 'ASK': 1.1362}
Update received for GBP=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.3462, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.3462, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.3462, 'ASK': 1.3463}
Update received for JPY=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 114.18, 'ASK': 114.22}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3461, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3461, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3461, 'ASK': 1.3463}
Update received for JPY=: {'DSPLY_NAME': 'NEDBANK LTD  JHB', 'BID': 114.18, 'ASK': 114.22}
Update received for EUR=: {'DSPLY_NAME': 'OTP BANK RT  BUD', 'BID': 1.1359, 'ASK': 1.136}
Update received for GBP=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.3461, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.3461, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.3461, 'ASK': 1.3463}
Update received for CAD=: {'DSPLY_NAME': 'HSBC         LON', 'BID': 1.2528, 'ASK': 1.2529}
Update received for CAD=: {'DSPLY_NAME': 'HSBC         LON', 'BID': 1.2528, 'ASK': 1.2529}
Update received for EUR=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 1.1359, 'ASK': 1.136}
Update received for JPY=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 114.19, 'ASK': 114.22}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for EUR=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.1357, 'ASK': 1.1361}
Update received for GBP=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 1.3462, 'ASK': 1.3464}
Update received for GBP=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 1.3462, 'ASK': 1.3464}
Update received for GBP=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 1.3462, 'ASK': 1.3464}
Update received for JPY=: {'DSPLY_NAME': 'ASANPACIFIBK MOW', 'BID': 114.2, 'ASK': 114.22}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3461, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3461, 'ASK': 1.3463}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3461, 'ASK': 1.3463}
Update received for EUR=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.1359, 'ASK': 1.136}
Update received for JPY=: {'DSPLY_NAME': 'RABOBANKGFM  LON', 'BID': 114.19, 'ASK': 114.24}
Update received for GBP=: {'DSPLY_NAME': 'RABOBANKGFM  LON', 'BID': 1.3461, 'ASK': 1.3466}
Update received for GBP=: {'DSPLY_NAME': 'RABOBANKGFM  LON', 'BID': 1.3461, 'ASK': 1.3466}
Update received for GBP=: {'DSPLY_NAME': 'RABOBANKGFM  LON', 'BID': 1.3461, 'ASK': 1.3466}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'NEDBANK LTD  JHB', 'BID': 1.3462, 'ASK': 1.3464}
Update received for GBP=: {'DSPLY_NAME': 'NEDBANK LTD  JHB', 'BID': 1.3462, 'ASK': 1.3464}
Update received for GBP=: {'DSPLY_NAME': 'NEDBANK LTD  JHB', 'BID': 1.3462, 'ASK': 1.3464}
Update received for JPY=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 114.19, 'ASK': 114.24}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for CAD=: {'DSPLY_NAME': 'ALFA-BANK    MOW', 'BID': 1.2528, 'ASK': 1.2529}
Update received for JPY=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 114.2, 'ASK': 114.23}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3462, 'ASK': 1.3464}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3462, 'ASK': 1.3464}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3462, 'ASK': 1.3464}
Update received for JPY=: {'DSPLY_NAME': 'NEDBANK LTD  JHB', 'BID': 114.19, 'ASK': 114.24}
Update received for EUR=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.1357, 'ASK': 1.1361}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for CAD=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.2526, 'ASK': 1.253}
Update received for EUR=: {'DSPLY_NAME': 'EQUA BANK    PRG', 'BID': 1.1359, 'ASK': 1.1362}
Update received for JPY=: {'DSPLY_NAME': 'Commerzbank  FFT', 'BID': 114.2, 'ASK': 114.23}
Update received for GBP=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 1.3461, 'ASK': 1.3465}
Update received for EUR=: {'DSPLY_NAME': 'ZUERCHER KB  ZUR', 'BID': 1.1359, 'ASK': 1.136}
Update received for JPY=: {'DSPLY_NAME': 'SANTANDER    HKG', 'BID': 114.2, 'ASK': 114.23}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3462, 'ASK': 1.3464}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3462, 'ASK': 1.3464}
Update received for GBP=: {'DSPLY_NAME': 'EMIRATES NBD DXB', 'BID': 1.3462, 'ASK': 1.3464}
Update received for CAD=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.2526, 'ASK': 1.253}
Update received for EUR=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.1357, 'ASK': 1.1361}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}
Update received for GBP=: {'DSPLY_NAME': 'BARCLAYS     LON', 'BID': 1.3461, 'ASK': 1.3465}

In [27]:
streaming_prices.open()

In [ ]:
streaming_prices = ek.StreamingPrices(
    instruments = ['GBP='], 
    fields = ['DSPLY_NAME', 'BID', 'ASK'],
    on_update = lambda streaming_price, instrument_name, fields : 
        print("Update received for {}: {}".format(instrument_name, fields))
)

streaming_prices.open()