In [ ]:
# ! pip install eikon
# ! pip install httpx==0.19.0
# ek.__version__
# ! python --version
# ! pip install --upgrade eikon

In [2]:
import eikon as ek

In [3]:
ek.set_app_key("6ea4ece4e1f24e5bb11c798e8f838b89f4ad08ef")

In [39]:
df, err = ek.get_data(
    instruments = ['TSLA.O','ULVR.L', '7974.T'], 
    fields = ["Currency", "BID","ASK", "TR.CommonName", "TR.TotalReturnYTD", "TR.PE", "TR.Revenue", "TR.Profit", "TR.Yield"]
)
display(df)

,Instrument,CURRENCY,BID,ASK,Company Common Name,YTD Total Return,P/E (Daily Time Series Ratio),Revenue,Yield
0,TSLA.O,USD,1002.24,1003.8,Tesla Inc,43.606785,328.843358,31536000000,<NA>
1,ULVR.L,GBp,3890.5,3891.5,Unilever PLC,-7.720342,22.384971,50724000000,<NA>
2,7974.T,JPY,51140.0,51190.0,Nintendo Co Ltd,-21.143125,13.869787,1758910000000,2.91

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Instrument  3 non-null      string
 1   BID         3 non-null      Int64
 2   ASK         3 non-null      Float64
dtypes: Float64(1), Int64(1), string(1)
memory usage: 206.0 bytes

In [7]:
ek.get_timeseries('TSLA.O', interval='minute')

TSLA.O                   HIGH       LOW      OPEN    CLOSE  COUNT  VOLUME
Date
2021-09-01 19:47:00    735.58    735.14    735.25  735.215    563   17088
2021-09-01 19:48:00    735.38  735.0301    735.25  735.285    598   17017
2021-09-01 19:49:00  735.4799   734.753   735.285   735.21    598   17763
2021-09-01 19:50:00    735.52    735.06    735.22   735.22    657   26273
2021-09-01 19:51:00    735.46    734.85  735.2899   735.25    986   33115
...                       ...       ...       ...      ...    ...     ...
2021-11-16 10:13:00     997.9    997.57    997.87    997.9     33     203
2021-11-16 10:14:00    997.89     997.8    997.89   997.83     10      26
2021-11-16 10:15:00    997.83    996.83    997.83   996.83    119     674
2021-11-16 10:16:00    997.67    996.81    996.83   997.49     53     633
2021-11-16 10:17:00    997.67    996.87    996.87   997.25     28     441

[50000 rows x 6 columns]

In [8]:
help(ek.get_data)

Help on function get_data in module eikon.data_grid:

get_data(instruments, fields, parameters=None, field_name=False, raw_output=False, debug=False)
    Returns a pandas.DataFrame with fields in columns and instruments as row index

    Parameters
    ----------
    instruments: string or list
        Single instrument or list of instruments to request.

    fields: string, dictionary or list of strings and/or dictionaries.
        List of fields to request.

        Examples:

        - 'TR.PriceClose'
        - {'TR.GrossProfit': { 'params':{ 'Scale': 6, 'Curn': 'EUR' }}
        - {'TR.GrossProfit': { 'params':{ 'Scale': 6, 'Curn': 'EUR' },sort_dir:'desc'}
        - ['TR.PriceClose','TR.PriceOpen']
        - [{'TR.PriceClose':  {'sort_dir':asc,sort_priority:1}},{'TR.PriceOpen':  {'sort_dir':asc,sort_priority:0}}

        You can use the function TR_Field to build the fields:

        >>> fields = [ek.TR_Field('tr.revenue'),ek.TR_Field('tr.open','asc',1),ek.TR_Field('TR.GrossProfit',{'Scale': 6, 'Curn': 'EUR'},'asc',0)]
        >>> data, err = ek.get_data(["IBM","MSFT.O"],fields)

        Tips:
        You can launch the Data Item Browser to discover fields and parameters,
        or copy field names and parameters from TR Eikon - MS Office formulas

    parameters: string or dictionary, optional
        Single global parameter key=value or dictionary of global parameters to request.

        Default: None

    field_name: boolean, optional
        Define if column headers are filled with field name or display names.

        If True value, field names will ube used as column headers. Otherwise, the full display name will be used.

        Default: False

    raw_output: boolean, optional
        By default the output is a pandas.DataFrame.

        Set raw_output=True to get data in Json format.

        Default: False

    debug: boolean, optional
        When set to True, the json request and response are printed. Default value is False

    Returns
    -------
        pandas.DataFrame
            Returns pandas.DataFrame with fields in columns and instruments as row index

        errors
            Returns a list of errors

    Raises
    ----------
        Exception
            If http request fails or if server returns an error.

        ValueError
            If a parameter type or value is wrong.

    Examples
    --------
    >>> import eikon as ek
    >>> ek.set_app_key('set your app key here')
    >>> data, err = ek.get_data(["IBM", "GOOG.O", "MSFT.O"], ["TR.PriceClose", "TR.Volume", "TR.PriceLow"])
    >>> data, err = ek.get_data("IBM", ['TR.Employees', {'TR.GrossProfit':{'params':{'Scale': 6, 'Curn': 'EUR'},'sort_dir':'asc'}}])
    >>> fields = [ek.TR_Field('tr.revenue'),ek.TR_Field('tr.open',None,'asc',1),ek.TR_Field('TR.GrossProfit',{'Scale': 6, 'Curn': 'EUR'},'asc',0)]
    >>> data, err = ek.get_data(["IBM","MSFT.O"],fields)

In [27]:
#streaming_prices.open()

In [ ]:
#streaming_prices = ek.StreamingPrices(
#    instruments = ['GBP='], 
#    fields = ['DSPLY_NAME', 'BID', 'ASK'],
#    on_update = lambda streaming_price, instrument_name, fields : 
#        print("Update received for {}: {}".format(instrument_name, fields))
#)

#streaming_prices.open()